@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,800;1,300&display=swap');

AdminPage{
    font-family:'Poppins',sans-serif;
    background-color:#f3f3f3;
}
body{
    background-color: #efefef;
}
.admin-nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    background-color: #393939;
    color: #9d9d9d;
    padding:20px;
}
.admin-nav a{
    color : lightgrey!important;
}
.signout{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.header{
    min-height: 40vh;
    width:100vw;
}