:root{
    --faded-font:rgb(238, 238, 238);
    --white-font:white;
    --dark-brown-bg:#d38450;
}

.footer {
    background-color: var(--dark-brown-bg);
    min-height: 20vh;
    position: static;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 5vw;
    font-weight: 400;
}
.footer > div {
    color: black;
}
.footer a {
    display: block;
    color: var(--faded-font);
}
.footer a:hover {
    color: var(--white-font);
}
.footer-links {
    width: max-content;
    margin: 20px 40px;
}
.footer-address {
    margin: 20px 4px;
}
.footer-address > div {
    margin-bottom: 10px;
}
.footer-address > p {
    color: var(--faded-font);
    line-height: 0.5;
}
.footer-title{
    font-weight: 600;
}