:root{
    --faded-font:rgb(238, 238, 238);
    --white-font:white;
    --dark-brown-bg:#d38450;
}
.signin {
    width: 400px;
    margin: 100px auto;
    height: 48vh;
}

.form-control {
    border: 1px solid #d38450;
}
.btn-custom {
    background-color: var(--dark-brown-bg);
    color: white;
}

.btn-custom:hover {
    background-color: white;
    color: var(--dark-brown-bg);
    border: 2px solid var(--dark-brown-bg);
}

.signin div {
    font-family: "Candara";
    color: rgba(0, 0, 0, 0.9);
    font-weight: 500;
}

#signin-header {
    width: max-content;
    margin: 0 auto;
    font-size: 30px;
}